/* Developer: Rhett Derryberry

Table of Contents:
    HEADER
    MAIN CONTENT
    FOOTER
    MEDIA QUERIES

Color Palette
    #fff - True White
    #1f87e4 - Blue
    #18c852 - Green
    #23233a - Dark Dark Blue
    #0e151b - Almost Black
    #000 - Black
    #f4f4f4 - Grey
    #bfd4ee - Light Blue

Styles are sorted alphabetically inside their section.
    */

/* 'HEADER */

* {
    margin: 0;
    padding: 0;
}

*,
:before,
:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover,
a:active {
    color: #1f87e4;
}

body {
    background-color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 7% 30px 7%;
}

.headerbig {
    line-height: 60px;
    margin-bottom: 30px;
}

.headernav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font: 14pt"Poppins", Arial, sans-serif;
    text-transform: uppercase;
}

/* 'MAIN CONTENT */

.activeli {
    color: #1f87e4;
}

.analyticsicon {
    background: url(../../assets/icons/targeticon.png) center no-repeat;
    height: 55px;
    width: 100%;
}

.basic {
    background: #18c852;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font: 16px"Poppins", Arial, sans-serif;
    height: 400px;
    justify-self: center;
    list-style: none;
    text-align: center;
    height: 450px;
    width: 300px;
    margin: auto -100px auto auto;
}

.basic>li,
.standard>li,
.unlimited>li {
    margin: 12px;
}

.bigblue {
    position: absolute;
    color: #1f87e4;
    font-size: 18px;
    /* MIGHT NOT BE RIGHT DOUBLE CHECK PS FILE */
    text-transform: uppercase;
}

.bigimg {
    background-image: url(../images/hero.jpg);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
}

.bigimgtxt {
    align-self: center;
    margin: 400px 0 200px 50px;
    width: 50%;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.bluecb {
    background: #1f87e4;
    font: 12px"Poppins", Arial, sans-serif;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 5px 12px;
    height: 25px;
    width: 100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
}

.cardheader {
    font: 30px"Poppins", Arial, sans-serif;
    color: #fff;
}

.checkerboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 500px);
    text-align: center;
    margin: 30px 10% 50px 10%;
    justify-content: center;
}

.checkerboard>* {
    margin: 30px;
}

.checkerboard img {
    margin-top: 50px;
}

.checkerone,
.checkerthree,
.checkerfive {
    justify-items: center;
}

.checkertext {
    margin: 50px;
}

.checkertwo,
.checkerfour,
.checkersix {
    background-color: #1f87e4;
    color: #fff;
    justify-items: center;
}

.checkertext>* {
    margin: 15px auto 15px auto;
}

.fa-arrow-left {
    background-color: #1f87e4;
    color: #fff;
    float: left;
    grid-column: 1 / 1;
    justify-self: left;
    align-self: center;
}

.fa-arrow-right {
    background-color: #1f87e4;
    color: white;
    float: right;
    grid-column: 3 / 3;
    justify-self: right;
    align-self: center;
}

.fa-arrow-left,
.fa-arrow-right {
    font-size: 50px;
}

.getstarted {
    background: #1f87e4;
    font: 12px"Poppins", Arial, sans-serif;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 24px;
    width: 130px;
    height: 30px;
    margin: 30px 0 200px 0;
}

.grey {
    background: #f4f4f4;
    height: 650px;
}

.green {
    background: #18c852;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.greenbutton {
    background: #fff;
    border: none;
    border-radius: 3px;
    color: #000;
    font: 14px"Poppins", Arial, sans-serif;
    padding: 10px 24px;
    margin-left: 30px;
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    height: 35px;
    width: 150px;
    align-self: center;
    justify-self: end;
    margin-right: 150px;
}

.greenh3 {
    text-transform: none;
    font: 30px"Poppins", Arial, sans-serif;
    color: #fff;
    margin-left: 150px;
    align-self: end;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.greenp {
    font: 14px"Poppins", Arial, sans-serif;
    color: #fff;
    margin-left: 150px;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

h1 {
    font: 58px"Poppins", Arial, sans-serif;
    margin-top: 30px;
}

h3 {
    font: 14pt"Poppins", Arial, sans-serif;
    text-transform: uppercase;
}

.handshake {
    grid-column: 1 / 1;
}

.hmarketing,
.hsupport,
.hanalytics,
.htargeting {
    margin-top: 15px;
    text-align: center;
}

hr {
    opacity: .3;
}

.johndoeimg {
    grid-column: 1;
    grid-row: 1 / 1;
    justify-self: center;
    margin: 50px auto 30px auto;
}

.johndoename {
    text-transform: uppercase;
}

.johndoequote {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    text-align: center;
}

.littleblue {
    text-transform: uppercase;
    color: #1f87e4;
    margin-bottom: 20px;
}

.marketingicon {
    background-image: url("../../assets/icons/megaphoneicon.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 55px;
    width: 100%;
}

.marketing,
.support,
.analytics,
.targeting {
    margin: 30px 25px -30px 25px;
}

.nilla,
.marta,
.michael,
.tisa {
    margin-top: 20px;
}

.nilladiv,
.martadiv,
.michaeldiv,
.tisadiv {
    background-color: #fff;
    margin: 10px 10px 30px 10px;
}

p {
    font: 16px"Poppins", Arial, sans-serif;
    opacity: .8;
}

.pmarketing,
.psupport,
.panalytics,
.ptargeting {
    margin-top: 10px;
    /* ADDED PADDING BETWEEN HEADER & PARAGRAPH */
}

.portimgs {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    justify-content: center;
}

.portnavlist {
    font: 12px"Poppins", Arial, sans-serif;
    color: #000;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 60px 30% 60px 30%;
}

.pquote {
    margin: auto 30px 30px 30px;
}

.price {
    font: 35px"Poppins", Arial, sans-serif;
}

.purchase {
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    padding: 5px 12px;
    height: 25px;
    width: 100px;
}

.quote {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 40px auto -100px auto;
    width: 750px;
    align-self: center;
}

.sectiontitle {
    font: 21px"Poppins", Arial, sans-serif;
    line-height: 100px;
    margin-bottom: 60px;
    margin-top: 90px;
    text-align: center;
}

.sectiontitle p {
    width: 600px;
    margin: 0 auto 0 auto;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 30px 15% 30px 15%;
}

.showing {
    grid-column: 3 / 3;
}

.smiling {
    grid-column: 2 / 2;
}

.spacer {
    width: 100%;
}

.standard {
    background: #23233a;
    border-radius: 5px;
    list-style: none;
    font: 16px"Poppins", Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    height: 450px;
    width: 300px;
}

.stars {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    margin-top: -25px;
}

.supporticon {
    background-image: url(../../assets/icons/chaticon.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 55px;
    width: 100%;
}

.targetingicon {
    background-image: url(../../assets/icons/lightbulbicon.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 55px;
    width: 100%;
}

.teammembers {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    text-align: center;
    grid-gap: 5px;
}

.unlimited {
    background: #1f87e4;
    border-radius: 5px;
    list-style: none;
    font: 16px"Poppins", Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    height: 450px;
    width: 300px;
    margin: auto auto auto -100px;
}

.whitecb {
    background: #fff;
    font: 12px"Poppins", Arial, sans-serif;
    color: #000;
    border: none;
    text-transform: uppercase;
    padding: 5px 12px;
    height: 25px;
    width: 100px;
}

/* 'FOOTER */

.about {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.aboutdiv {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    justify-self: center;
}

.blackleft {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    justify-self: center;
}

.contactdiv {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    justify-self: center;
}

.copyright {
    font: 14px"Poppins", Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 50px auto auto auto;
    align-self: center;
}

#footer {
    background: #0e151b;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(2, auto);
}

.footerbtm {
    grid-column: 1 / 5;
    grid-row: 2 / 2;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footerh3 {
    font: 24px"Poppins", Arial, sans-serif;
    color: #fff;
    text-transform: none;
    margin: 30px auto 30px 30px;
}

.footerp {
    font: 14px"Poppins", Arial, sans-serif;
    color: #fff;
    opacity: .5;
    margin: auto auto 15px 30px;
}

i.fab {
    color: #fff;
    opacity: .5;
    margin: auto auto 15px 30px;
}

.listitem {
    margin-top: 15px;
}

.listtitle {
    color: #fff;
    font: 18px"Poppins", Arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-align: left;
    margin: 30px auto 15px 30px;
}

.supportdiv {
    justify-self: center;
}

.supportdiv a,
.aboutdiv a,
.contactdiv a {
    color: #fff;
    text-transform: none;
    opacity: .5;
    font-size: 14px;
}

.supportdiv a:hover,
.aboutdiv a:hover,
.contactdiv a:hover {
    color: #18c852;
}

/* 'MEDIA QUERIES */

@media only screen and (max-width: 1209px) {
    .analytics {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .aboutdiv {
        grid-column: 1/1;
        grid-row: 2/2;
        justify-self: left;
        padding-left: 15px;
    }

    .aboutdiv li {
        font-size: 10px;
    }

    .aboutdiv a {
        font-size: 12px;
    }

    .basic,
    .standard,
    .unlimited {
        margin: 15px auto 15px auto;
    }

    .bigimg {
        background: #bfd4ee;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
    }

    .bigimgtxt {
        align-self: center;
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin: 25px 0 -150px 25px;
        width: 50%;
    }

    .blackleft {
        grid-column: 1/1;
        grid-row: 1/1;
        justify-self: left;
    }

    .cards {
        grid-template-columns: 300px;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
    }

    .checkerboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        margin: 30px 10% 30px 10%;
        text-align: center;
    }

    .contactdiv {
        grid-column: 2/2;
        grid-row: 2/2;
        justify-self: left;
    }

    .contactdiv li {
        font-size: 10px;
    }

    .contactdiv a {
        font-size: 12px;
    }

    .fa-arrow-left,
    .fa-arrow-right {
        font-size: 30px;
    }

    #footer {
        background: #0e151b;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        width: auto;
    }

    .footerbtm {
        grid-column: 1/3;
        grid-row: 3/3;
    }

    .footerh3 {
        color: #fff;
        font: 12px"Poppins", Arial, sans-serif;
        margin: 30px 0 30px 30px;
        text-transform: none;
    }

    .footerp {
        color: #fff;
        font: 12px"Poppins", Arial, sans-serif;
        margin: auto auto 15px 30px;
        opacity: .5;
    }

    .green {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .greenbutton {
        grid-column: 3/3;
        grid-row: 1/1;
        margin: 15px;
    }

    .greenh3 {
        grid-column: 1/1;
        grid-row: 1/1;
        font-size: 12px;
        margin: 20px;
        align-self: center;
    }

    .greenp {
        grid-column: 2/2;
        grid-row: 1/1;
        font-size: 12px;
        margin: 15px;
        align-self: center;
    }

    .grey {
        height: 1050px;
    }

    .handshake {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .header {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .headernav {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        text-align: right;
    }

    .listtitle {
        color: #fff;
        font: 12px"Poppins", Arial, sans-serif;
        list-style: none;
        text-align: left;
        text-transform: uppercase;
    }

    .logo {
        align-self: center;
    }

    .portimgs {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }

    .portnavlist {
        font-size: 10px;
    }

    .quote {
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: auto;
    }

    .sectiontitle {
        font: 15px"Poppins", Arial, sans-serif;
        line-height: 50px;
        margin-bottom: 15px;
        margin-top: 60px;
        text-align: center;
    }

    .sectiontitle p {
        font-size: 15px;
        text-align: center;
        width: 75%;
    }

    .services {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        text-align: center;
    }

    .smiling {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .showing {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }

    .stars {
        margin-top: 3px;
    }

    .supportdiv,
    .aboutdiv,
    .contactdiv {
        margin-left: -15px;
    }

    .supportdiv {
        grid-column: 2/2;
        grid-row: 1/1;
        justify-self: left;
    }

    .supportdiv li {
        font-size: 10px;
    }

    .supportdiv a {
        font-size: 12px;
    }

    .targeting {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .teammembers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}